.chat-admin {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 10vh;
    margin-left: 6vh;
    max-height: 30vh;
    max-width: 30vw;
    border-radius: 5px;
    border: 2px solid black;
}

.chat-submit {
    align-self: center;
    padding-right: 1rem;
}

.login-please {
    margin-top: 7vh;
    margin-left: 6vh;
}