.content {
    margin-left: 3rem;
    max-width: 39vw;
}

.main-header {
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
}

.main {
    display: flex;
    flex-direction: row;
    font-family: 'DotGothic16', sans-serif;
}

.hello {
    font-size: 3rem;
}

.name {
    line-height: 3rem;
}

.contact-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.contact-me {
    font-size: 3rem;
    list-style: none;
}

.contact {
    font-size: 2rem;
    list-style: none;
    line-height: 3rem;
}

.contact a {
    color: black;
    text-decoration: none;
}

.contact a:hover {
    color: rgb(112, 112, 112);
}

@media (max-width: 1000px) {
    .content {
        margin-left: 1rem;
        max-width: 95vw;
    }

    .main-header {
        margin-top: 14vh;
    }

    .contact-me {
        font-size: 2.5rem;
    }

    .main {
        flex-direction: column;
    }
}

@media (max-height: 1000px) {
    #cat {
        display: none;
    }
}

/* This is to make blobcatnod follow your cursor :) */
.blobcat {
    margin-top: 8vh;
    width: 56vw;
    height: 85vh;
    border: 5px solid rgb(34, 34, 34);
    border-radius: 5px;
    background-color: rgb(25, 44, 92);
}

.blobcatnod {
    display: block;
    position: absolute;
    animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

@keyframes moveX {
    from { left: 43%; } to { left: 90%; }
}

@keyframes moveY {
    from { top: 10%; } to { top: 80%; }
}

@media (max-width: 1000px) {
    .blobcatnod {
        display: none;
    }
    
}