.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 2px 2px;
    background-color: rgb(20, 34, 68);
    display: flex;
    align-items: center;
}

.navbar-img {
    margin: 0;
    padding: 0;
}

.nav-item {
    font-size: 1.3rem;
}

.nav-item-hide {
    display: none;
}

@media (max-width: 1000px) {
    .space-this-out {
        display: none;
    }

    .nav-item-hide {
        display: contents;
    }
}